#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
*.lock.json
*.nuget.props
*.nuget.targets

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
Components
Droid/Resources/Resource.designer.cs
.skedulomobile.droidres.db
*.db-journal
.droidres
Tools/MobileBot/MobileBot/ConfigBackup
.stfolder
.stignore
.idea

#Visual Studio
.vs

#UWP
/UWP/AppPackages
/SkeduloMobile/Resx/AppResources.Designer.cs
.mfractor
/UnitTestsobj
/SkeduloMobileobj
FodyWeavers.xsd
*.orig
Skedulo.Droid/Resources/Resource.designer.cs
AppResources.Designer.cs
